<table>
	<thead>
		<tr>
			<th>Calls</th>
            <th>Total Time (ms)</th>
            <th>Per Call (ms)</th>
            <th>Cumulative Time (ms)</th>
            <th>Per Call (ms)</th>
            <th>Function</th>
		</tr>
	</thead>
	<tbody>
        {% for row in function_calls %}
			<tr class="{{ loop.cycle('flDebugOdd' 'flDebugEven') }}">
				<td>{{ row.0 }}</td>
				<td>{{ row.1 }}</td>
				<td>{{ row.2 }}</td>
				<td>{{ row.3 }}</td>
				<td>{{ row.4 }}</td>
				<td>{{ row.5 }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

