<h4>Installed Packages</h4>

<p>
  Current Site Packages Directory:
</p>
<pre>
{{ python_lib_dir }}
</pre>

<table>
  <thead>
    <tr>
      <th>Package</th>
      <th>Version</th>
      <th>Homepage</th>
      <th>Summary</th>
    </tr>
  </thead>
  <tbody>
    {% for package in packages %}
      <tr class="{{ loop.cycle('flDebugOdd', 'flDebugEven') }}">
        <td>{{ package.get('Name') }}</td>
        <td>{{ package.get('Version') }}</td>
        <td>{{ package.get('Home-page') }}</td>
        <td>{{ package.get('Summary') }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
