{% if templates %}
    {% if editable %}
    <script>
        function loadHref() {
          $.get(this.href, function(data, status, xhr) {
            document.open();
            document.write(xhr.responseText);
            document.close();
          });
          return false;
        }
    </script>
    <a href="/_debug_toolbar/views/template/{{ key }}" onclick="return loadHref.apply(this);">Edit templates</a>
    {% endif %}
    {% for template in templates %}
        <h4>{{ template.template.name }}</h4>
        <table>
            <thead>
            <tr>
                <th>Variable</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            {% for k, v in template.context|dictsort %}
                <tr class="{{ loop.cycle('flDebugOdd', 'flDebugEven') }}">
                    <td>{{ k }}</td>
                    <td>{{ v|printable }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% else %}
    <p>No template rendered</p>
{% endif %}
